doctype html
head
  meta(charset='UTF-8')
  title MUT Auctioneers
  link(rel='stylesheet' href='contact-us.css')
.hero
  .header
    .container
      .navbar
        h2.logo
          ion-icon(name='logo-medium')
          |  MUT Auctioneers
        nav.navigation
          a(href='home.html') Home
          a(href='products.html') Products
          a(href='aboutus.html') About Us
          a(href='contact-us.html') Contacts
          a(href='#') Account
          // <button class="btnLogin-popup">Login</button>
        a(href='cart.html')
          img(src='cart.png' width='30px' height='30px')
  // --------------------------------------About us---------------------------------------------
  .detel
    h1 About Us
    h2
      | Welcome to the Murang&rsquo;a University of Technology 
      span (MUT)
      |  Auctioneers!
      br
      br
      | As a vibrant hub for student transactions, we pride ourselves on reliability and transparency.
    br
    p.bold Reliability and Efficiency:
    br
    p
      | Our system ensures seamless transactions between students.
      br
      |             Monetary Transactions: Secure processing of payments via M-PESA and PayPal.
      br
      |             Product Auctions: Students registered as sellers can showcase their items.
      br
      |             Verification: Sellers undergo a verification process to maintain integrity.
      br
      |             Bidding Transparency: Real-time display of bids.
    br
    p.bold Reliability and Efficiency:
    br
    p Explore listings without registering.
    br
    p
      | Activation: 
      a(href='') Register
      |  when you&rsquo;re ready to bid or make a purchase.
    p Record Keeping: Discreetly maintains records of interactions for transparency.
    br
    h3
      | Feel free to explore, engage, and discover treasures within our vibrant student community! &#x1F389;
  // ----------------------------------------------Brands--------------------------------------
  .brands
    .small-container
      .row
        .col-5
          img(src='/logo-coca-cola.png')
        .col-5
          img(src='/logo-godrej.png')
        .col-5
          img(src='/logo-oppo.png')
        .col-5
          img(src='/logo-paypal.png')
        .col-5
          img(src='/logo-philips.png')
  // ---------------------Footer--------------------------
  .footer
    .container
      .row
        .footer-col-2
          h2.logo
            ion-icon(name='logo-medium')
            |  MUT Auctioneers
          // <img src="images/logo-white.png">
          p Our Purpose is to Help You &apos;Keep Your Money where Your Mouth is&apos;
        .footer-col-3
          h3 Useful Links
          ul
            li Return Policy
            li Report
        .footer-col-4
          h3 Follow Us
          |                         &lt;
          ul
            li
              ion-icon(name='logo-instagram')
              | &nbsp;&nbsp;&nbsp;Instagram
            li
              ion-icon(name='logo-twitter')
              | &nbsp;&nbsp;&nbsp;Twitter
            li
              ion-icon(name='logo-facebook')
              | &nbsp;&nbsp;&nbsp;Facebook
            li
              ion-icon(name='logo-whatsapp')
              | &nbsp;&nbsp;&nbsp;Whatsapp
      hr
      p.copyright &quot;Copyright 2024 - Kenyavic&quot;
script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
