.info-data
    .card
        .head
            div
            h2(id="user-count") #{users}
            p Users
            i.bx.bx-trending-up.icon
        span.progress(data-value='40%')
        span.label 40%
    .card
        .head
            div
            h2(id="transaction-count") #{transactions}
            p Sales
            i.bx.bx-trending-down.icon.down
        span.progress(data-value='60%')
        span.label 60%

    .card
        .head
            div
            h2 235
            p Alerts
            i.bx.bx-trending-up.icon
        span.progress(data-value='80%')
        span.label 80%
