tr
        td
            img(src='/images/user-1.png')
            a(href=`/auction-approval/approve/${product.id}`)
                p Jochn Doe
        td 01-10-2021
        td
            span.status.completed Completed
        //- td
            a.btn-approve(href='/Auction-Approval/#{product.id}') Approve
        //- tr