.brands
    .small-container
      .row
        .col-5
          img(src='/images/assets/logo-coca-cola.png')
        .col-5
          img(src='/images/assets/logo-godrej.png')
        .col-5
          img(src='/images/assets/logo-oppo.png')
        .col-5
          img(src='/images/assets/logo-paypal.png')
        .col-5
          img(src='/images/assets/logo-philips.png')