.footer
  .container
    .row
      .footer-col-2
        h2.logo
          ion-icon(name='logo-medium')
          |  MUT Auctioneers
        p Our Purpose is to Help You &apos;Keep Your Money where Your Mouth is&apos;
      .footer-col-3
        h3 Useful Links
        ul
          li
            a(href='/return-policy') Return Policy
          li
            a(href='/report') Report
      .footer-col-4
        h3 Follow Us
        ul
          li
            a(href='https://www.instagram.com/kenyavic_') Instagram
          li
            a(href='https://www.twitter.com/kenyavic') X
          li
            a(href='https://www.facebook.com/kenyavic') Facebook
          li
            a(href='https://www.thread.com/kenyavic') Thread
    hr
    //- TODO: get year dynamically from the server
    p.copyright &copy;#{Date().split(" ")[3]} - &quot;Kenyavic&quot;
