// NAVBAR
nav
    i.bx.bx-menu.toggle-sidebar
    form(action='#')
        .form-group
        input(type='text' placeholder='Search...')
        i.bx.bx-search.icon
    a.nav-link(href='#')
        i.bx.bxs-bell.icon
        span.badge 5
    a.nav-link(href='#')
        i.bx.bxs-message-square-dots.icon
        span.badge 8
    span.divider
    .profile
        img(src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt='')
        ul.profile-link
            li
                a(href='#')
                i.bx.bxs-user-circle.icon
                |  Profile
            li
                a(href='#')
                i.bx.bxs-cog
                |  Settings
            li
                a(href='#')
                i.bx.bxs-log-out-circle
                |  Logout
// NAVBAR